@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Martel+Sans:wght@600&family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-evenly;
    align-items: center;
    height: 55px;
    background-color: black;

}

nav .logo {
    color: aqua;
    font-size: 25px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}

ul {
    display: flex;
    gap: 10px;
}

li {
    list-style: none;
    color: white;
}

nav ul li a {
    color: white;
    /* font-weight: bold; */
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

nav ul li a:hover {
    color: #00edfd;
    text-shadow: -1px 1px 18px #00edfd;
}

body {
    background-color: #000;
}

.intro-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-height: 1000px;
    height: 450px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 90%;
    /* border: 2px solid red; */
    margin: 10px auto;
    background-color: #000;

}

.intro-container .text-area {
    width: 70%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 10px;
    color: #fff;
    /* border: 2px solid red; */
}

.buttonPrimary {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    height: 80px;
    width: 90%;
    justify-content: start;
    align-items: center;
    /* border: 2px solid #ff0000; */
    gap: 15px;
    margin: 25px 0;
}

.buttonPrimary a {
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 45px;
    font-size: 25px;
    font-family: 'Martel Sans', sans-serif;
    text-decoration: none;
    color: #00edfd;

    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 2px solid #00edfd;
}

.buttonPrimary a:hover {
    box-shadow: 0px 1px 11px 6px #00ecfdc1;
}

button {

    /* border: 2px solid blue; */
    font-weight: bold;
    background-color: #00edfd;
    border: none;
    box-shadow: 0px 1px 11px 1px #00ecfdc1;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-radius: 8px;
    margin-top: 25px;


}

h2 {
    color: #00edfd;
}

span {
    color: #00edfd;
}

.intro-container .img {
    background-image: url(profile11.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: #00edfd;
    box-shadow: 0px 1px 11px 6px #00ecfdc1;

}

.abt-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 1000px;
    height: 450px;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 90%;
    /* border: 2px solid red; */
    margin: 10px auto;
    background-color: #000;

}

.abt-container .text-area {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding: 20px;
    color: #fff;
    /* border: 2px solid red; */
}

.abt-container .img {
    background-image: url(profile2.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 220px;
    width: 220px;
    /* background-color: #fffb00; */
    border-radius: 50%;
    border: 8px solid #00edfd;

}

.servicesContainer {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    max-width: 1000px;
    width: 90%;
    max-height: 1000px;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

.servicesContainer .servT {

    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #00edfd;
    padding: 10px;
    margin-bottom: 50px;

}

.servicesContainer .sBoxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

.cont1 {
    /* border: 2px solid red; */
    padding: 10px;
    width: 250px;
    max-height: 1000px;
    font-family: 'Martel Sans', sans-serif;
    height: 420px;
    font-size: 15px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.16);
}

.cont1 .img {
    display: flex;
    margin: 20px auto;
    font-size: 35px;
    color: #00e8fd;
    justify-content: center;


    height: 45px;
    width: 45px;
    /* border: 2px solid red; */
    border-radius: 50%;

}

.cont1 img {
    display: flex;
    flex-direction: column;
    height: 45px;
    width: 45px;
    /* font-family: 'Martel Sans', sans-serif; */
    text-decoration: none;
    color: #00edfd;
}

.cont1 p {
    display: flex;
    flex-wrap: wrap;

    color: #fff;
    width: 240px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 8px auto;
}

.latestPro {
    display: grid;
    grid-template-rows: auto 1fr;
    /* Separate header and gridbox */
    align-items: center;
    max-height: 1000px;
    height: 417px;

    align-items: center;

    background-color: #000;
    margin: 50px auto;
    justify-items: center;
    align-items: center;
    /* border: 2px solid red; */
    max-width: 1000px;
    width: 90%;

}

.gridbox {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.latestPro h2 {
    margin: 20px auto;
    font-family: 'poppins', sans-serif;
    color: rgba(1, 238, 255, 0.989);
    /* text-shadow: -1px 1px 18px #fd0000; */
}

.project {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;

    width: 180px;
    height: 130px;
    border-radius: 10px;
    border: 2px solid rgb(0, 217, 255);
}

.proBtn {
    color: #ffffff;
    border: 2px solid rgb(0, 236, 253);
    align-self: center;
    border-radius: 15px;
    width: 70%;
    padding: 10px;
}

.contactMe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 2px solid red; */
    max-width: 1000px;
    width: 90%;
    max-height: 1000px;
    height: 450px;

    justify-content: space-evenly;
    align-items: center;
    margin: 22px auto;
}

h3 {
    margin: 25px auto;
}

input {
    width: 220px;
    height: 49px;
    gap: 2px;

}

.contactMe a {
    text-decoration: none;
    /* color: white; */
    font-family: "poppins";
    /* border: 3px solid white; */
    text-align: center;
    height: 20px;
    width: 120px;
    padding: 15px;
    font-weight: bolder;



}

.callMe {
    border: 3px solid blue;
    color: rgb(46, 133, 255);
    border-radius: 10px;

}

.callMe:hover {
    box-shadow: 0px 1px 11px 6px #1900fdc1;

}

.whatsApp {
    color: rgb(0, 255, 0);

    border: 3px solid rgb(0, 255, 0);
    border-radius: 10px;
}

.whatsApp:hover {

    box-shadow: 0px 1px 11px 6px #48fd00c1;
}

.textMe {
    color: #fff;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;

}

.textMe:hover {
    box-shadow: 0px 1px 11px 6px #ffffffc1;

}

.mailMe {
    color: red;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 10px;

}

.mailMe:hover {

    box-shadow: 0px 1px 11px 6px #ff0000f0;

}

.sendMsg {
    height: 200px;
    width: 448px;
    background-color: #8e8e8e9a;
}
.amtwebdev-footer {
    background-color: #00c8ff;
    font-family: "poppins";
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .copyright {
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 0;
    }
  }
  
@media (max-width: 768px) {
    nav .logo {
        font-size: 14px;
    }

    nav ul li a {
        font-size: 10px;
    }

    .intro-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .intro-container .text-area {
        width: 50%;
        font-size: 8px;
    }

    .buttonPrimary a {
        height: 25px;
        width: 25px;
        font-size: 14px;
    }

    .intro-container .img {
        height: 120px;
        width: 120px;
        grid-row: 1/2;
    }

    .abt-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .abt-container .img {
        height: 150px;
        width: 150px;
        border: 4px solid #00edfd;
    }

    .abt-container .text-area {
        width: 50%;
        font-size: 8px;
        padding: 10px;
    }

    .buttonPrimary {
        width: 100%;
        margin: 2px 0;
    }

    button {
        margin-top: 10px;
    }

    .latestPro {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .servicesContainer {
        max-height: 1380px;
        gap: 8px;
    }

    .latestPro {
        gap: 10px;

    }

    .btn {
        padding: 9px;
    }

    .gridbox {
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 1fr;
    }

    .latestPro {
        margin: 123px auto;
        height: 1000px;
    }

}